---
artworks:
- file: o18-iv-1-dimitrov-yanakiev-petkov-chakarova-shumanov-dimitrov.jpg
  info: |
    по ред на представянето: георги димитров, георги янакиев, николай петков, мария чакърова, иван шуманов,
    красимира стикар, петър дочев, адриана чернин, николай дюлгеров (инсталационни снимки: георги димитров и камен калев)
  url-name: o18-iv-1
- file: o18-iv-2-chakarova-petkov-stikar-dochev.jpg
  info: |
    по ред на представянето: георги димитров, георги янакиев, николай петков, мария чакърова, иван шуманов,
    красимира стикар, петър дочев, адриана чернин, николай дюлгеров (инсталационни снимки: георги димитров и камен калев)
  url-name: o18-iv-2
- file: o18-iv-3-yanakiev-petkov-chakarova.jpg
  info: |
    по ред на представянето: георги димитров, георги янакиев, николай петков, мария чакърова, иван шуманов,
    красимира стикар, петър дочев, адриана чернин, николай дюлгеров (инсталационни снимки: георги димитров и камен калев)
  url-name: o18-iv-3
- file: o18-iv-4-petkov-chakarova.jpg
  info: |
    по ред на представянето: георги димитров, георги янакиев, николай петков, мария чакърова, иван шуманов,
    красимира стикар, петър дочев, адриана чернин, николай дюлгеров (инсталационни снимки: георги димитров и камен калев)
  url-name: o18-iv-4
- file: o18-iv-5-petkov-stikar-dochev.jpg
  info: |
    по ред на представянето: георги димитров, георги янакиев, николай петков, мария чакърова, иван шуманов,
    красимира стикар, петър дочев, адриана чернин, николай дюлгеров (инсталационни снимки: георги димитров и камен калев)
  url-name: o18-iv-5
- file: o18-iv-6-dochev.jpg
  info: |
    по ред на представянето: георги димитров, георги янакиев, николай петков, мария чакърова, иван шуманов,
    красимира стикар, петър дочев, адриана чернин, николай дюлгеров (инсталационни снимки: георги димитров и камен калев)
  url-name: o18-iv-6
- file: o18-iv-7-shumanov-dimitrov.jpg
  info: |
    по ред на представянето: георги димитров, георги янакиев, николай петков, мария чакърова, иван шуманов,
    красимира стикар, петър дочев, адриана чернин, николай дюлгеров (инсталационни снимки: георги димитров и камен калев)
  url-name: o18-iv-7
- file: o18-iv-8-petkov-stikar.jpg
  info: |
    по ред на представянето: георги димитров, георги янакиев, николай петков, мария чакърова, иван шуманов,
    красимира стикар, петър дочев, адриана чернин, николай дюлгеров (инсталационни снимки: георги димитров и камен калев)
  url-name: o18-iv-8
- file: o18-iv-9-petkov-shumanov-dimitrov.jpg
  info: |
    по ред на представянето: георги димитров, георги янакиев, николай петков, мария чакърова, иван шуманов,
    красимира стикар, петър дочев, адриана чернин, николай дюлгеров (инсталационни снимки: георги димитров и камен калев)
  url-name: o18-iv-9
- file: o18-iv-10-czernin-diulgheroff.jpg
  info: |
    по ред на представянето: георги димитров, георги янакиев, николай петков, мария чакърова, иван шуманов,
    красимира стикар, петър дочев, адриана чернин, николай дюлгеров (инсталационни снимки: георги димитров и камен калев)
  url-name: o18-iv-10
- file: o18-iv-11-dimitrov.jpg
  info: |
    по ред на представянето: георги димитров, георги янакиев, николай петков, мария чакърова, иван шуманов,
    красимира стикар, петър дочев, адриана чернин, николай дюлгеров (инсталационни снимки: георги димитров и камен калев)
  url-name: o18-iv-11
- file: o18-ivk-12-petkov-chakarova-dimitrov-petkov-stikar-dochev.jpg
  info: |
    по ред на представянето: георги димитров, георги янакиев, николай петков, мария чакърова, иван шуманов,
    красимира стикар, петър дочев, адриана чернин, николай дюлгеров (инсталационни снимки: георги димитров и камен калев)
  url-name: o18-ivk-12
- file: o18-ivk-13-diulgheroff-dimitrov-yanakiev.jpg
  info: |
    по ред на представянето: георги димитров, георги янакиев, николай петков, мария чакърова, иван шуманов,
    красимира стикар, петър дочев, адриана чернин, николай дюлгеров (инсталационни снимки: георги димитров и камен калев)
  url-name: o18-ivk-13
current:
  file: o18-iv-5-petkov-stikar-dochev.jpg
  info: |
    по ред на представянето: георги димитров, георги янакиев, николай петков, мария чакърова, иван шуманов,
    красимира стикар, петър дочев, адриана чернин, николай дюлгеров (инсталационни снимки: георги димитров и камен калев)
  url-name: o18-iv-5
info: ''
language: bg
layout: artist
next:
  file: o18-iv-6-dochev.jpg
  info: |
    по ред на представянето: георги димитров, георги янакиев, николай петков, мария чакърова, иван шуманов,
    красимира стикар, петър дочев, адриана чернин, николай дюлгеров (инсталационни снимки: георги димитров и камен калев)
  url-name: o18-iv-6
title: orthogonal
url-name: views
year: '18'
---
{% include artist-content.html %}
