---
artworks:
- file: 1-mc-jh-gd-bb.jpg
  info: 'гледки<br>

    по ред на представянето: мария чакърова йозе хееркеннс георги димитров<br>

    барна бенедек андраш волски тибор гайор бруно хаас георги янакиев дора<br>

    маурер николай дюлгеров гидо винклер ричард ван дер аа

'
  url-name: mc-jh-gd-bb
- file: 2-jh-gd-bb.jpg
  info: 'гледки<br>

    по ред на представянето: мария чакърова йозе хееркеннс георги димитров<br>

    барна бенедек андраш волски тибор гайор бруно хаас георги янакиев дора<br>

    маурер николай дюлгеров гидо винклер ричард ван дер аа

'
  url-name: jh-gd-bb
- file: 3-gd-bb-aw.jpg
  info: 'гледки<br>

    по ред на представянето: мария чакърова йозе хееркеннс георги димитров<br>

    барна бенедек андраш волски тибор гайор бруно хаас георги янакиев дора<br>

    маурер николай дюлгеров гидо винклер ричард ван дер аа

'
  url-name: gd-bb-aw
- file: 4-gd-bh-mc-jh.jpg
  info: 'гледки<br>

    по ред на представянето: мария чакърова йозе хееркеннс георги димитров<br>

    барна бенедек андраш волски тибор гайор бруно хаас георги янакиев дора<br>

    маурер николай дюлгеров гидо винклер ричард ван дер аа

'
  url-name: gd-bh-mc-jh
- file: 5-aw-gy-bh.jpg
  info: 'гледки<br>

    по ред на представянето: мария чакърова йозе хееркеннс георги димитров<br>

    барна бенедек андраш волски тибор гайор бруно хаас георги янакиев дора<br>

    маурер николай дюлгеров гидо винклер ричард ван дер аа

'
  url-name: aw-gy-bh
- file: 6-dm-nd-gw-rvda.jpg
  info: 'гледки<br>

    по ред на представянето: мария чакърова йозе хееркеннс георги димитров<br>

    барна бенедек андраш волски тибор гайор бруно хаас георги янакиев дора<br>

    маурер николай дюлгеров гидо винклер ричард ван дер аа

'
  url-name: dm-nd-gw-rvda
- file: 7-gw-rvda-gw.jpg
  info: 'гледки<br>

    по ред на представянето: мария чакърова йозе хееркеннс георги димитров<br>

    барна бенедек андраш волски тибор гайор бруно хаас георги янакиев дора<br>

    маурер николай дюлгеров гидо винклер ричард ван дер аа

'
  url-name: gw-rvda-gw
- file: 8-bb-aw-tg.jpg
  info: 'гледки<br>

    по ред на представянето: мария чакърова йозе хееркеннс георги димитров<br>

    барна бенедек андраш волски тибор гайор бруно хаас георги янакиев дора<br>

    маурер николай дюлгеров гидо винклер ричард ван дер аа

'
  url-name: bb-aw-tg
current:
  file: 1-mc-jh-gd-bb.jpg
  info: 'гледки<br>

    по ред на представянето: мария чакърова йозе хееркеннс георги димитров<br>

    барна бенедек андраш волски тибор гайор бруно хаас георги янакиев дора<br>

    маурер николай дюлгеров гидо винклер ричард ван дер аа

'
  url-name: mc-jh-gd-bb
info: ''
language: bg
layout: author
next:
  file: 2-jh-gd-bb.jpg
  info: 'гледки<br>

    по ред на представянето: мария чакърова йозе хееркеннс георги димитров<br>

    барна бенедек андраш волски тибор гайор бруно хаас георги янакиев дора<br>

    маурер николай дюлгеров гидо винклер ричард ван дер аа

'
  url-name: jh-gd-bb
title: orthogonal
url-name: views
---
{% include artist-content.html %}
