---
artworks:
- file: 1-mc-jh-gd-bb.jpg
  info: |
    по ред на представянето: мария чакърова йозе хееркенс георги димитров<br>
    барна бенедек андраш волски бруно хаас георги янакиев дора маурер<br>
    николай дюлгеров гидо винклер ричард ван дер аа тибор гайор
  url-name: mc-jh-gd-bb
- file: 2-jh-gd-bb.jpg
  info: |
    по ред на представянето: мария чакърова йозе хееркенс георги димитров<br>
    барна бенедек андраш волски бруно хаас георги янакиев дора маурер<br>
    николай дюлгеров гидо винклер ричард ван дер аа тибор гайор
  url-name: jh-gd-bb
- file: 3-gd-bb-aw.jpg
  info: |
    по ред на представянето: мария чакърова йозе хееркенс георги димитров<br>
    барна бенедек андраш волски бруно хаас георги янакиев дора маурер<br>
    николай дюлгеров гидо винклер ричард ван дер аа тибор гайор
  url-name: gd-bb-aw
- file: 4-gd-bh-mc-jh.jpg
  info: |
    по ред на представянето: мария чакърова йозе хееркенс георги димитров<br>
    барна бенедек андраш волски бруно хаас георги янакиев дора маурер<br>
    николай дюлгеров гидо винклер ричард ван дер аа тибор гайор
  url-name: gd-bh-mc-jh
- file: 5-aw-gy-bh.jpg
  info: |
    по ред на представянето: мария чакърова йозе хееркенс георги димитров<br>
    барна бенедек андраш волски бруно хаас георги янакиев дора маурер<br>
    николай дюлгеров гидо винклер ричард ван дер аа тибор гайор
  url-name: aw-gy-bh
- file: 6-dm-nd-gw-rvda.jpg
  info: |
    по ред на представянето: мария чакърова йозе хееркенс георги димитров<br>
    барна бенедек андраш волски бруно хаас георги янакиев дора маурер<br>
    николай дюлгеров гидо винклер ричард ван дер аа тибор гайор
  url-name: dm-nd-gw-rvda
- file: 7-gw-rvda-gw.jpg
  info: |
    по ред на представянето: мария чакърова йозе хееркенс георги димитров<br>
    барна бенедек андраш волски бруно хаас георги янакиев дора маурер<br>
    николай дюлгеров гидо винклер ричард ван дер аа тибор гайор
  url-name: gw-rvda-gw
- file: 8-bb-aw-tg.jpg
  info: |
    по ред на представянето: мария чакърова йозе хееркенс георги димитров<br>
    барна бенедек андраш волски бруно хаас георги янакиев дора маурер<br>
    николай дюлгеров гидо винклер ричард ван дер аа тибор гайор
  url-name: bb-aw-tg
current:
  file: 6-dm-nd-gw-rvda.jpg
  info: |
    по ред на представянето: мария чакърова йозе хееркенс георги димитров<br>
    барна бенедек андраш волски бруно хаас георги янакиев дора маурер<br>
    николай дюлгеров гидо винклер ричард ван дер аа тибор гайор
  url-name: dm-nd-gw-rvda
info: ''
language: bg
layout: artist
next:
  file: 7-gw-rvda-gw.jpg
  info: |
    по ред на представянето: мария чакърова йозе хееркенс георги димитров<br>
    барна бенедек андраш волски бруно хаас георги янакиев дора маурер<br>
    николай дюлгеров гидо винклер ричард ван дер аа тибор гайор
  url-name: gw-rvda-gw
title: orthogonal
url-name: views
year: '12'
---
{% include artist-content.html %}
