<div class="container" id="author-content">

  <div id="author-details">
    {{ page.info }}
  </div>

  {% if page.url contains 'video' and page.year == '12' %}
      <div {{ class }} id="artwork">
        <iframe src="http://player.vimeo.com/video/68358107" width="470" height="350" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
  {% elsif page.url contains 'video' and page.year == '14' %}
      <div {{ class }} id="artwork">
        <iframe src="http://player.vimeo.com/video/108899247" width="470" height="350" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
  {% elsif page.url contains 'video' and page.year == '16' %}
      <div {{ class }} id="artwork">
        <iframe src="http://player.vimeo.com/video/299918619" width="470" height="350" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
  {% else %}

    {% assign class = nil %}
    {% if page.url contains 'poster' %}
      {% assign class = 'class="poster"' %}
    {% endif %}
      <div {{ class }} id="artwork">
        <a href="/{{ page.language }}/{{ page.year }}/{{ page.url-name }}/{{ page.next.url-name }}">
        <img src="/images/artists/{{ page.url-name }}/{{ page.current.file }}" alt="{{ page.current.name }}"></a>
      </a>

      {% assign class = nil %}
      {% if page.url contains 'views' %}
        {% assign class = 'class="views"' %}
      <div id="paging" style="clear: both">
        {% for artwork in page.artworks %}
          {% assign active = nil %}
          {% if page.current.url-name == artwork.url-name %}
            {% assign active = 'active' %}
          {% endif %}

          {% if forloop.length > 1 %}
            <a class="{{ active }}" href="/{{ page.language }}/{{ page.year }}/{{ page.url-name }}/{{ artwork.url-name }}">&nbsp;</a>
          {% endif %}
        {% endfor %}
      </div>
      {% endif %}

      <div {{ class }} id="artwork-details">
        {{ page.current.info }}
      </div>

      {% unless page.url contains 'views' %}
      <div id="paging">
        {% for artwork in page.artworks %}
          {% assign active = nil %}
          {% if page.current.url-name == artwork.url-name %}
            {% assign active = 'active' %}
          {% endif %}

          {% if forloop.length > 1 %}
            <a class="{{ active }}" href="/{{ page.language }}/{{ page.year }}/{{ page.url-name }}/{{ artwork.url-name }}">&nbsp;</a>
          {% endif %}
        {% endfor %}
      </div>
      {% endunless %}
    {% endif %}

  </div>

</div>


