<ul class="container" id="sponsors">
  <li style="margin-right: 57px" ><a href="http://ruf-award.org/"><img style="width: 76px; height: 32px; margin-top: 2px"  src="/images/sponsors/gaudenz-ruf.png" alt="gaudenz b. ruf"></a></li>
  <li style="margin-right: 35px"><a href="http://www.maxbill.ch/"><img style="width: 62px; height: 14px; margin-top: 10px" src="/images/sponsors/hausbill.png" alt="haus bill"></a></li>
  <li style="margin-right: 36px"><a href="http://www.nonsofia.com/"><img style="width: 34px; height: 34px; margin-top: 0px"  src="/images/sponsors/nonsofia.png" alt="nonsofia"></a></li>
  <li style="margin-right: 27px"><a href="http://www.prohelvetia.ch/"><img style="width: 63px; height: 18px; margin-top: 8px"  src="/images/sponsors/prohelvetia.jpg" alt="prohelvetia"></a></li>
  <li style="width: 70px; text-align: right"><a href="http://www.redhouse-sofia.org/"><img style="width: 31px; height: 34px; margin-top: 0px"  src="/images/sponsors/redhouse.png" alt="redhouse"></a></li>
</ul>

