<ul class="container" id="sponsors">
  <li style="width: 81px; margin: 0 18px 0 0"><a href="http://ruf-award.org/"><img style="width: 81px; height: 33px" src="/images/sponsors/14/gaudenz-ruf.png" alt="gaudenz b. ruf"></a></li>
  <li style="width: 87px; margin: 0 20px 0 0"><a href=""><img style="width: 87px; height: 33px" src="/images/sponsors/14/austrian-embassy.png" alt="austrian embassy sofia"></a></li>
  <li style="width: 55px; margin: 0 28px 0 0"><a href="http://www.maxbill.ch/"><img style="width: 55px; height: 33px" src="/images/sponsors/14/hausbill.png" alt="hausbill"></a></li>
  <li style="width: 33px; margin: 0 27px 0 0"><a href="http://www.nonsofia.org/"><img style="width: 33px; height: 33px" src="/images/sponsors/14/nonsofia.png" alt="nonsofia"></a></li>
  <li style="width: 54px; margin: 0 28px 0 0"><a href=""><img style="width: 54px; height: 33px" src="/images/sponsors/14/rpl.png" alt="richard paul lause foundation"></a></li>
  <li style="width: 83px; margin: 0 26px 0 0"><a href=""><img style="width: 83px; height: 33px" src="/images/sponsors/14/smca-gr.png" alt="hellenic republic state museum of contemporary art"></a></li>
  <li style="width: 30px; margin: 0"><a href=""><img style="width: 30px; height: 33px" src="/images/sponsors/14/redhouse.png" alt="red house"></a></li>
</ul>

