<ul class="container" id="sponsors">
  <li style="width: 76px"><a href="http://ruf-award.org/"><img style="width: 76px; height: 32px; margin-top: 2px"  src="/images/sponsors/gaudenz-ruf.png" alt="gaudenz b. ruf"></a></li>
  <li style="width: 62px"><a href="http://www.maxbill.ch/"><img style="width: 62px; height: 14px; margin-top: 10px" src="/images/sponsors/hausbill.png" alt="haus bill"></a></li>
  <li style="width: 34px"><a href="http://www.nonsofia.org/"><img style="width: 34px; height: 34px; margin-top: 0px"  src="/images/sponsors/nonsofia.png" alt="nonsofia"></a></li>
  <li style="width: 47px"><a href="http://www.osas.hu/"><img style="width: 47px; height: 24px; margin-top: 5px" src="/images/sponsors/osas.gif" alt="osas"></a></li>
  <li style="width: 63px"><a href="http://www.prohelvetia.ch/"><img style="width: 63px; height: 18px; margin-top: 8px"  src="/images/sponsors/prohelvetia.jpg" alt="prohelvetia"></a></li>
  <li style="width: 31px"><a href="http://www.redhouse-sofia.org/"><img style="width: 31px; height: 34px; margin-top: 0px"  src="/images/sponsors/redhouse.png" alt="redhouse"></a></li>
</ul>

