<ul class="container" id="sponsors">
  <li style="width: 81px; margin: 0 223px 0 0"><a href="http://ruf-award.org/"><img style="width: 81px; height: 33px" src="/images/sponsors/16/gaudenz-ruf.png" alt="gaudenz b. ruf"></a></li>
  <li style="width: 33px; margin: 0 243px 0 0"><a href="http://www.nonsofia.org/"><img style="width: 33px; height: 33px" src="/images/sponsors/16/nonsofia.png" alt="nonsofia"></a></li>
  <li style="width: 39px; margin: 0 0 0 0"><a href="http://kunsthaus-rehau.de/Index_ie.htm"><img style="width: 39px; height: 33px" src="/images/sponsors/16/ikkp.jpg" alt="ikkp kunsthau rehau"></a></li>
</ul>

