<ul class="container" id="sponsors">
  <li style="width: 81px; margin: 0 46px 0 0"><a href="http://ruf-award.org/"><img style="width: 81px; height: 33px" src="/images/sponsors/16/gaudenz-ruf.png" alt="gaudenz b. ruf"></a></li>
  <li style="width: 63px; margin: 0 46px 0 0"><a href="http://www.prohelvetia.ch/"><img style="width: 63px; height: 18px; margin-top: 8px"  src="/images/sponsors/16/prohelvetia.jpg" alt="prohelvetia"></a></li>
  <li style="width: 70px; margin: 0 46px 0 0"><a href="http://www.goethe.de/ins/bg/bg/index.html"><img style="width: 70px; height: 33px" src="/images/sponsors/16/goethe.png" alt="goethe institut"></a></li>
  <li style="width: 33px; margin: 0 46px 0 0"><a href="http://www.nonsofia.org/"><img style="width: 33px; height: 33px" src="/images/sponsors/16/nonsofia.png" alt="nonsofia"></a></li>
  <li style="width: 30px; margin: 0 46px 0 0"><a href="http://kunsthaus-rehau.de/Index_ie.htm"><img style="width: 30px; height: 33px" src="/images/sponsors/16/ikkp.gif" alt="ikkp kunsthau rehau"></a></li>
  <li style="width: 36px; margin: 0 46px 0 0"><a href="http://www.earthandman.org"><img style="width: 36px; height: 33px" src="/images/sponsors/16/earthman.png" alt="earth and man"></a></li>
  <li style="width: 30px; margin: 0 0 0 0"><a href="http://www.redhouse-sofia.org/"><img style="width: 30px; height: 33px" src="/images/sponsors/16/redhouse.png" alt="red house"></a></li>
</ul>

