---
artworks:
- file: 14-1.jpg
  info: 'in order of appearance: bruno haas arjan janssen georgi dimitrov bob bonies
    <br>

    maria chakarova krasimira stikar yorgos vourlidas max bill guillaume millet<br>

    anna-maria bogner simon ingram

'
  url-name: 14-1
- file: 14-2.jpg
  info: 'in order of appearance: bruno haas arjan janssen georgi dimitrov bob bonies
    <br>

    maria chakarova krasimira stikar yorgos vourlidas max bill guillaume millet<br>

    anna-maria bogner simon ingram

'
  url-name: 14-2
- file: 14-3.jpg
  info: 'in order of appearance: bruno haas arjan janssen georgi dimitrov bob bonies
    <br>

    maria chakarova krasimira stikar yorgos vourlidas max bill guillaume millet<br>

    anna-maria bogner simon ingram

'
  url-name: 14-3
- file: 14-4.jpg
  info: 'in order of appearance: bruno haas arjan janssen georgi dimitrov bob bonies
    <br>

    maria chakarova krasimira stikar yorgos vourlidas max bill guillaume millet<br>

    anna-maria bogner simon ingram

'
  url-name: 14-4
- file: 14-5.jpg
  info: 'in order of appearance: bruno haas arjan janssen georgi dimitrov bob bonies
    <br>

    maria chakarova krasimira stikar yorgos vourlidas max bill guillaume millet<br>

    anna-maria bogner simon ingram

'
  url-name: 14-5
- file: 14-6.jpg
  info: 'in order of appearance: bruno haas arjan janssen georgi dimitrov bob bonies
    <br>

    maria chakarova krasimira stikar yorgos vourlidas max bill guillaume millet<br>

    anna-maria bogner simon ingram

'
  url-name: 14-6
- file: 14-7.jpg
  info: 'in order of appearance: bruno haas arjan janssen georgi dimitrov bob bonies
    <br>

    maria chakarova krasimira stikar yorgos vourlidas max bill guillaume millet<br>

    anna-maria bogner simon ingram

'
  url-name: 14-7
- file: 14-8.jpg
  info: 'in order of appearance: bruno haas arjan janssen georgi dimitrov bob bonies
    <br>

    maria chakarova krasimira stikar yorgos vourlidas max bill guillaume millet<br>

    anna-maria bogner simon ingram

'
  url-name: 14-8
- file: 14-9.jpg
  info: 'in order of appearance: bruno haas arjan janssen georgi dimitrov bob bonies
    <br>

    maria chakarova krasimira stikar yorgos vourlidas max bill guillaume millet<br>

    anna-maria bogner simon ingram

'
  url-name: 14-9
current:
  file: 14-1.jpg
  info: 'in order of appearance: bruno haas arjan janssen georgi dimitrov bob bonies
    <br>

    maria chakarova krasimira stikar yorgos vourlidas max bill guillaume millet<br>

    anna-maria bogner simon ingram

'
  url-name: 14-1
info: ''
language: en
layout: artist
next:
  file: 14-2.jpg
  info: 'in order of appearance: bruno haas arjan janssen georgi dimitrov bob bonies
    <br>

    maria chakarova krasimira stikar yorgos vourlidas max bill guillaume millet<br>

    anna-maria bogner simon ingram

'
  url-name: 14-2
title: orthogonal
url-name: views
year: '14'
---
{% include artist-content.html %}
