---
artworks:
- file: 1-bh-aj-gd-bb.jpg
  info: |
    in order of appearance: bruno haas arjan janssen georgi dimitrov bob bonies <br>
    maria chakarova krasimira stikar yorgos vourlidas max bill guillaume millet<br>
    anna-maria bogner simon ingram
  url-name: bh-aj-gd-bb
- file: 2-gd-mc-bh-aj.jpg
  info: |
    in order of appearance: bruno haas arjan janssen georgi dimitrov bob bonies <br>
    maria chakarova krasimira stikar yorgos vourlidas max bill guillaume millet<br>
    anna-maria bogner simon ingram
  url-name: gd-mc-bh-aj
- file: 3-mc-bh-aj.jpg
  info: |
    in order of appearance: bruno haas arjan janssen georgi dimitrov bob bonies <br>
    maria chakarova krasimira stikar yorgos vourlidas max bill guillaume millet<br>
    anna-maria bogner simon ingram
  url-name: mc-bh-aj
- file: 4-bh-aj-gd.jpg
  info: |
    in order of appearance: bruno haas arjan janssen georgi dimitrov bob bonies <br>
    maria chakarova krasimira stikar yorgos vourlidas max bill guillaume millet<br>
    anna-maria bogner simon ingram
  url-name: bh-aj-gd
- file: 5-aj-gd-bb.jpg
  info: |
    in order of appearance: bruno haas arjan janssen georgi dimitrov bob bonies <br>
    maria chakarova krasimira stikar yorgos vourlidas max bill guillaume millet<br>
    anna-maria bogner simon ingram
  url-name: aj-gd-bb
- file: 6-gd-bb-ks.jpg
  info: |
    in order of appearance: bruno haas arjan janssen georgi dimitrov bob bonies <br>
    maria chakarova krasimira stikar yorgos vourlidas max bill guillaume millet<br>
    anna-maria bogner simon ingram
  url-name: gd-bb-ks
- file: 7-yv-mc-mb.jpg
  info: |
    in order of appearance: bruno haas arjan janssen georgi dimitrov bob bonies <br>
    maria chakarova krasimira stikar yorgos vourlidas max bill guillaume millet<br>
    anna-maria bogner simon ingram
  url-name: yv-mc-mb
- file: 8-mb.jpg
  info: |
    in order of appearance: bruno haas arjan janssen georgi dimitrov bob bonies <br>
    maria chakarova krasimira stikar yorgos vourlidas max bill guillaume millet<br>
    anna-maria bogner simon ingram
  url-name: mb
- file: 9-ks-gm-amb-si.jpg
  info: |
    in order of appearance: bruno haas arjan janssen georgi dimitrov bob bonies <br>
    maria chakarova krasimira stikar yorgos vourlidas max bill guillaume millet<br>
    anna-maria bogner simon ingram
  url-name: ks-gm-amb-si
current:
  file: 1-bh-aj-gd-bb.jpg
  info: |
    in order of appearance: bruno haas arjan janssen georgi dimitrov bob bonies <br>
    maria chakarova krasimira stikar yorgos vourlidas max bill guillaume millet<br>
    anna-maria bogner simon ingram
  url-name: bh-aj-gd-bb
info: ''
language: en
layout: artist
next:
  file: 2-gd-mc-bh-aj.jpg
  info: |
    in order of appearance: bruno haas arjan janssen georgi dimitrov bob bonies <br>
    maria chakarova krasimira stikar yorgos vourlidas max bill guillaume millet<br>
    anna-maria bogner simon ingram
  url-name: gd-mc-bh-aj
title: orthogonal
url-name: views
year: '14'
---
{% include artist-content.html %}
