---
artworks:
- file: 1-bh-aj-gd-bb.jpg
  info: 'по ред на представянето: бруно хаас арян янсен георги димитров боб бонис<br>

    мария чакърова красимира стикар йоргос вурлидас макс бил гийом мийе<br>

    анна-мария богнер саймън инграм

'
  url-name: bh-aj-gd-bb
- file: 2-gd-mc-bh-aj.jpg
  info: 'по ред на представянето: бруно хаас арян янсен георги димитров боб бонис<br>

    мария чакърова красимира стикар йоргос вурлидас макс бил гийом мийе<br>

    анна-мария богнер саймън инграм

'
  url-name: gd-mc-bh-aj
- file: 3-mc-bh-aj.jpg
  info: 'по ред на представянето: бруно хаас арян янсен георги димитров боб бонис<br>

    мария чакърова красимира стикар йоргос вурлидас макс бил гийом мийе<br>

    анна-мария богнер саймън инграм

'
  url-name: mc-bh-aj
- file: 4-bh-aj-gd.jpg
  info: 'по ред на представянето: бруно хаас арян янсен георги димитров боб бонис<br>

    мария чакърова красимира стикар йоргос вурлидас макс бил гийом мийе<br>

    анна-мария богнер саймън инграм

'
  url-name: bh-aj-gd
- file: 5-aj-gd-bb.jpg
  info: 'по ред на представянето: бруно хаас арян янсен георги димитров боб бонис<br>

    мария чакърова красимира стикар йоргос вурлидас макс бил гийом мийе<br>

    анна-мария богнер саймън инграм

'
  url-name: aj-gd-bb
- file: 6-gd-bb-ks.jpg
  info: 'по ред на представянето: бруно хаас арян янсен георги димитров боб бонис<br>

    мария чакърова красимира стикар йоргос вурлидас макс бил гийом мийе<br>

    анна-мария богнер саймън инграм

'
  url-name: gd-bb-ks
- file: 7-yv-mc-mb.jpg
  info: 'по ред на представянето: бруно хаас арян янсен георги димитров боб бонис<br>

    мария чакърова красимира стикар йоргос вурлидас макс бил гийом мийе<br>

    анна-мария богнер саймън инграм

'
  url-name: yv-mc-mb
- file: 8-mb.jpg
  info: 'по ред на представянето: бруно хаас арян янсен георги димитров боб бонис<br>

    мария чакърова красимира стикар йоргос вурлидас макс бил гийом мийе<br>

    анна-мария богнер саймън инграм

'
  url-name: mb
- file: 9-ks-gm-amb-si.jpg
  info: 'по ред на представянето: бруно хаас арян янсен георги димитров боб бонис<br>

    мария чакърова красимира стикар йоргос вурлидас макс бил гийом мийе<br>

    анна-мария богнер саймън инграм

'
  url-name: ks-gm-amb-si
current:
  file: 9-ks-gm-amb-si.jpg
  info: 'по ред на представянето: бруно хаас арян янсен георги димитров боб бонис<br>

    мария чакърова красимира стикар йоргос вурлидас макс бил гийом мийе<br>

    анна-мария богнер саймън инграм

'
  url-name: ks-gm-amb-si
info: ''
language: bg
layout: artist
next:
  file: 1-bh-aj-gd-bb.jpg
  info: 'по ред на представянето: бруно хаас арян янсен георги димитров боб бонис<br>

    мария чакърова красимира стикар йоргос вурлидас макс бил гийом мийе<br>

    анна-мария богнер саймън инграм

'
  url-name: bh-aj-gd-bb
title: orthogonal
url-name: views
year: '14'
---
{% include artist-content.html %}
