---
artworks:
- file: o16-iv-7-kk-s.jpg
  info: |
    in order of appearance: erdem küçükköroğlu gisela hoffmann esther hagenmaier eugen gomringer<br>
    judith duquemin petar dochev patrick morrissey nikolay petkov ingo glass hanz hancock<br>
    ivan shumanov georgi dimitrov (installation photos by kamen kalev)
  url-name: o16-iv-7-kk
- file: o16-iv-8-kk-s.jpg
  info: |
    in order of appearance: erdem küçükköroğlu gisela hoffmann esther hagenmaier eugen gomringer<br>
    judith duquemin petar dochev patrick morrissey nikolay petkov ingo glass hanz hancock<br>
    ivan shumanov georgi dimitrov (installation photos by kamen kalev)
  url-name: o16-iv-8-kk
- file: o16-iv-9-kk-s.jpg
  info: |
    in order of appearance: erdem küçükköroğlu gisela hoffmann esther hagenmaier eugen gomringer<br>
    judith duquemin petar dochev patrick morrissey nikolay petkov ingo glass hanz hancock<br>
    ivan shumanov georgi dimitrov (installation photos by kamen kalev)
  url-name: o16-iv-9-kk
- file: o16-iv-1-kk-s.jpg
  info: |
    in order of appearance: erdem küçükköroğlu gisela hoffmann esther hagenmaier eugen gomringer<br>
    judith duquemin petar dochev patrick morrissey nikolay petkov ingo glass hanz hancock<br>
    ivan shumanov georgi dimitrov (installation photos by kamen kalev)
  url-name: o16-iv-1-kk
- file: o16-iv-2-kk-s.jpg
  info: |
    in order of appearance: erdem küçükköroğlu gisela hoffmann esther hagenmaier eugen gomringer<br>
    judith duquemin petar dochev patrick morrissey nikolay petkov ingo glass hanz hancock<br>
    ivan shumanov georgi dimitrov (installation photos by kamen kalev)
  url-name: o16-iv-2-kk
- file: o16-iv-3-kk-s.jpg
  info: |
    in order of appearance: erdem küçükköroğlu gisela hoffmann esther hagenmaier eugen gomringer<br>
    judith duquemin petar dochev patrick morrissey nikolay petkov ingo glass hanz hancock<br>
    ivan shumanov georgi dimitrov (installation photos by kamen kalev)
  url-name: o16-iv-3-kk
- file: o16-iv-4-kk-s.jpg
  info: |
    in order of appearance: erdem küçükköroğlu gisela hoffmann esther hagenmaier eugen gomringer<br>
    judith duquemin petar dochev patrick morrissey nikolay petkov ingo glass hanz hancock<br>
    ivan shumanov georgi dimitrov (installation photos by kamen kalev)
  url-name: o16-iv-4-kk
current:
  file: o16-iv-3-kk-s.jpg
  info: |
    in order of appearance: erdem küçükköroğlu gisela hoffmann esther hagenmaier eugen gomringer<br>
    judith duquemin petar dochev patrick morrissey nikolay petkov ingo glass hanz hancock<br>
    ivan shumanov georgi dimitrov (installation photos by kamen kalev)
  url-name: o16-iv-3-kk
info: ''
language: en
layout: artist
next:
  file: o16-iv-4-kk-s.jpg
  info: |
    in order of appearance: erdem küçükköroğlu gisela hoffmann esther hagenmaier eugen gomringer<br>
    judith duquemin petar dochev patrick morrissey nikolay petkov ingo glass hanz hancock<br>
    ivan shumanov georgi dimitrov (installation photos by kamen kalev)
  url-name: o16-iv-4-kk
title: orthogonal
url-name: views
year: '16'
---
{% include artist-content.html %}
