---
artworks:
- file: 1-mc-jh-gd-bb.jpg
  info: 'in order of appearance: maria chakarova josé heerkens georgi dimitrov<br>

    barna benedek andrás wolsky tibor gáyor bruno haas georgi yanakiev<br>

    dóra maurer nikolay diulgheroff guido winkler richard van der aa

'
  url-name: mc-jh-gd-bb
- file: 2-jh-gd-bb.jpg
  info: 'in order of appearance: maria chakarova josé heerkens georgi dimitrov<br>

    barna benedek andrás wolsky tibor gáyor bruno haas georgi yanakiev<br>

    dóra maurer nikolay diulgheroff guido winkler richard van der aa

'
  url-name: jh-gd-bb
- file: 3-gd-bb-aw.jpg
  info: 'in order of appearance: maria chakarova josé heerkens georgi dimitrov<br>

    barna benedek andrás wolsky tibor gáyor bruno haas georgi yanakiev<br>

    dóra maurer nikolay diulgheroff guido winkler richard van der aa

'
  url-name: gd-bb-aw
- file: 4-gd-bh-mc-jh.jpg
  info: 'in order of appearance: maria chakarova josé heerkens georgi dimitrov<br>

    barna benedek andrás wolsky tibor gáyor bruno haas georgi yanakiev<br>

    dóra maurer nikolay diulgheroff guido winkler richard van der aa

'
  url-name: gd-bh-mc-jh
- file: 5-aw-gy-bh.jpg
  info: 'in order of appearance: maria chakarova josé heerkens georgi dimitrov<br>

    barna benedek andrás wolsky tibor gáyor bruno haas georgi yanakiev<br>

    dóra maurer nikolay diulgheroff guido winkler richard van der aa

'
  url-name: aw-gy-bh
- file: 6-dm-nd-gw-rvda.jpg
  info: 'in order of appearance: maria chakarova josé heerkens georgi dimitrov<br>

    barna benedek andrás wolsky tibor gáyor bruno haas georgi yanakiev<br>

    dóra maurer nikolay diulgheroff guido winkler richard van der aa

'
  url-name: dm-nd-gw-rvda
- file: 7-gw-rvda-gw.jpg
  info: 'in order of appearance: maria chakarova josé heerkens georgi dimitrov<br>

    barna benedek andrás wolsky tibor gáyor bruno haas georgi yanakiev<br>

    dóra maurer nikolay diulgheroff guido winkler richard van der aa

'
  url-name: gw-rvda-gw
- file: 8-bb-aw-tg.jpg
  info: 'in order of appearance: maria chakarova josé heerkens georgi dimitrov<br>

    barna benedek andrás wolsky tibor gáyor bruno haas georgi yanakiev<br>

    dóra maurer nikolay diulgheroff guido winkler richard van der aa

'
  url-name: bb-aw-tg
current:
  file: 6-dm-nd-gw-rvda.jpg
  info: 'in order of appearance: maria chakarova josé heerkens georgi dimitrov<br>

    barna benedek andrás wolsky tibor gáyor bruno haas georgi yanakiev<br>

    dóra maurer nikolay diulgheroff guido winkler richard van der aa

'
  url-name: dm-nd-gw-rvda
info: ''
language: en
layout: author
next:
  file: 7-gw-rvda-gw.jpg
  info: 'in order of appearance: maria chakarova josé heerkens georgi dimitrov<br>

    barna benedek andrás wolsky tibor gáyor bruno haas georgi yanakiev<br>

    dóra maurer nikolay diulgheroff guido winkler richard van der aa

'
  url-name: gw-rvda-gw
title: orthogonal
url-name: views
---
{% include artist-content.html %}
