<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="stylesheet" type="text/css" href="/stylesheets/orthogonal.css">

    <title>{{ page.title }}</title>
  </head>

  <body>
    <div id="wrapper" class="container">

      <div id="header">
        <a class="first" id="orthogonal" href="/en/"><img src="/images/orthogonal.png" alt="orthogonal"></a>
        <a class="first" id="twelve" href="/en/12/"><img src="/images/twelve.png" alt="2012"></a>
        <a id="start" href="/">&nbsp;</a>
      </div>

      {{ content }}

    </div>
  </body>
</html>
