---
artworks:
- file: 14-1.jpg
  info: 'по ред на представянето: бруно хаас арян янсен георги димитров боб бонис<br>

    мария чакърова красимира стикар йоргос вурлидас макс бил гийом мийе<br>

    анна-мария богнер саймън инграм

'
  url-name: 14-1
- file: 14-2.jpg
  info: 'по ред на представянето: бруно хаас арян янсен георги димитров боб бонис<br>

    мария чакърова красимира стикар йоргос вурлидас макс бил гийом мийе<br>

    анна-мария богнер саймън инграм

'
  url-name: 14-2
- file: 14-3.jpg
  info: 'по ред на представянето: бруно хаас арян янсен георги димитров боб бонис<br>

    мария чакърова красимира стикар йоргос вурлидас макс бил гийом мийе<br>

    анна-мария богнер саймън инграм

'
  url-name: 14-3
- file: 14-4.jpg
  info: 'по ред на представянето: бруно хаас арян янсен георги димитров боб бонис<br>

    мария чакърова красимира стикар йоргос вурлидас макс бил гийом мийе<br>

    анна-мария богнер саймън инграм

'
  url-name: 14-4
- file: 14-5.jpg
  info: 'по ред на представянето: бруно хаас арян янсен георги димитров боб бонис<br>

    мария чакърова красимира стикар йоргос вурлидас макс бил гийом мийе<br>

    анна-мария богнер саймън инграм

'
  url-name: 14-5
- file: 14-6.jpg
  info: 'по ред на представянето: бруно хаас арян янсен георги димитров боб бонис<br>

    мария чакърова красимира стикар йоргос вурлидас макс бил гийом мийе<br>

    анна-мария богнер саймън инграм

'
  url-name: 14-6
- file: 14-7.jpg
  info: 'по ред на представянето: бруно хаас арян янсен георги димитров боб бонис<br>

    мария чакърова красимира стикар йоргос вурлидас макс бил гийом мийе<br>

    анна-мария богнер саймън инграм

'
  url-name: 14-7
- file: 14-8.jpg
  info: 'по ред на представянето: бруно хаас арян янсен георги димитров боб бонис<br>

    мария чакърова красимира стикар йоргос вурлидас макс бил гийом мийе<br>

    анна-мария богнер саймън инграм

'
  url-name: 14-8
- file: 14-9.jpg
  info: 'по ред на представянето: бруно хаас арян янсен георги димитров боб бонис<br>

    мария чакърова красимира стикар йоргос вурлидас макс бил гийом мийе<br>

    анна-мария богнер саймън инграм

'
  url-name: 14-9
current:
  file: 14-9.jpg
  info: 'по ред на представянето: бруно хаас арян янсен георги димитров боб бонис<br>

    мария чакърова красимира стикар йоргос вурлидас макс бил гийом мийе<br>

    анна-мария богнер саймън инграм

'
  url-name: 14-9
info: ''
language: bg
layout: artist
next:
  file: 14-1.jpg
  info: 'по ред на представянето: бруно хаас арян янсен георги димитров боб бонис<br>

    мария чакърова красимира стикар йоргос вурлидас макс бил гийом мийе<br>

    анна-мария богнер саймън инграм

'
  url-name: 14-1
title: orthogonal
url-name: views
year: '14'
---
{% include artist-content.html %}
