---
artworks:
- file: o16-iv-7-kk-s.jpg
  info: |
    по ред на представянето: ердем кючюккьороглу гизела хофман естер хагенмайер ойген гомрингер<br>
    джудит дюкмин петър дочев патрик мориси николай петков инго глас ханз ханкок<br>
    иван шуманов георги димитров (инсталационни снимки: камен калев)
  url-name: o16-iv-7-kk
- file: o16-iv-8-kk-s.jpg
  info: |
    по ред на представянето: ердем кючюккьороглу гизела хофман естер хагенмайер ойген гомрингер<br>
    джудит дюкмин петър дочев патрик мориси николай петков инго глас ханз ханкок<br>
    иван шуманов георги димитров (инсталационни снимки: камен калев)
  url-name: o16-iv-8-kk
- file: o16-iv-9-kk-s.jpg
  info: |
    по ред на представянето: ердем кючюккьороглу гизела хофман естер хагенмайер ойген гомрингер<br>
    джудит дюкмин петър дочев патрик мориси николай петков инго глас ханз ханкок<br>
    иван шуманов георги димитров (инсталационни снимки: камен калев)
  url-name: o16-iv-9-kk
- file: o16-iv-1-kk-s.jpg
  info: |
    по ред на представянето: ердем кючюккьороглу гизела хофман естер хагенмайер ойген гомрингер<br>
    джудит дюкмин петър дочев патрик мориси николай петков инго глас ханз ханкок<br>
    иван шуманов георги димитров (инсталационни снимки: камен калев)
  url-name: o16-iv-1-kk
- file: o16-iv-2-kk-s.jpg
  info: |
    по ред на представянето: ердем кючюккьороглу гизела хофман естер хагенмайер ойген гомрингер<br>
    джудит дюкмин петър дочев патрик мориси николай петков инго глас ханз ханкок<br>
    иван шуманов георги димитров (инсталационни снимки: камен калев)
  url-name: o16-iv-2-kk
- file: o16-iv-3-kk-s.jpg
  info: |
    по ред на представянето: ердем кючюккьороглу гизела хофман естер хагенмайер ойген гомрингер<br>
    джудит дюкмин петър дочев патрик мориси николай петков инго глас ханз ханкок<br>
    иван шуманов георги димитров (инсталационни снимки: камен калев)
  url-name: o16-iv-3-kk
- file: o16-iv-4-kk-s.jpg
  info: |
    по ред на представянето: ердем кючюккьороглу гизела хофман естер хагенмайер ойген гомрингер<br>
    джудит дюкмин петър дочев патрик мориси николай петков инго глас ханз ханкок<br>
    иван шуманов георги димитров (инсталационни снимки: камен калев)
  url-name: o16-iv-4-kk
current:
  file: o16-iv-9-kk-s.jpg
  info: |
    по ред на представянето: ердем кючюккьороглу гизела хофман естер хагенмайер ойген гомрингер<br>
    джудит дюкмин петър дочев патрик мориси николай петков инго глас ханз ханкок<br>
    иван шуманов георги димитров (инсталационни снимки: камен калев)
  url-name: o16-iv-9-kk
info: ''
language: bg
layout: artist
next:
  file: o16-iv-1-kk-s.jpg
  info: |
    по ред на представянето: ердем кючюккьороглу гизела хофман естер хагенмайер ойген гомрингер<br>
    джудит дюкмин петър дочев патрик мориси николай петков инго глас ханз ханкок<br>
    иван шуманов георги димитров (инсталационни снимки: камен калев)
  url-name: o16-iv-1-kk
title: orthogonal
url-name: views
year: '16'
---
{% include artist-content.html %}
